.create-btn-submit {
  margin-top: 1rem;
}

.search-beers-form {
  margin: 1rem 0 3rem;
  width: 100%;
}

.found-beers row {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

// .beer-card {
//   display: flex;
//   justify-content: center;
// }
