.create-btn-submit {
  margin-top: 1rem;
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.paper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.review-form-header {
  display: flex;
  justify-content: center;
}
