.create-btn-submit {
  margin: 1rem 1rem 0 0;
}

.hop-icon {
  height: 33px;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  max-width: 1000px;
}

.review-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;

  h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 2rem;
  }
}

.form-input {
  padding-bottom: 1rem;
}

// .search-beers-form {
//   margin: 1rem 0 3rem;
//   width: 100%;
// }

// .beer-card {
//   display: flex;
//   justify-content: center;
// }
