.search-btn-submit {
  margin-top: 1rem;
}

.find-breweries-form {
  margin-top: 1rem;
  width: 100%;
}

.paper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 4rem;
}

.yelp-card-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.yelp-card {
  margin-bottom: 2rem;
}

//
// .yelp-title {
//   text-align: center;
//   color: #ff5100;
// }
//
// .yelp-header-main {
//   color: #BA2F00;
//   text-align: center;
//   font-family: 'Gloria Hallelujah', cursive;
// }
//
// .yelp-header-main {
//   color: RGB(254, 227, 121);
//   text-shadow: 1px 1px black;
//   font-size: 48px;
//   margin-bottom: 15px;
// }
