$charcoal: #bbb;

.main-header {
  align-items: center;
  display: flex;
  height: 80px;
}

.hop-icon {
  height: 29px;
}

.side-icon {
  height: 29px;
}

.nav-btns {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-family: 'Dokdo', cursive;
}

.nav-title {
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.side-nav-title {
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

  }
}
