.beer-card {
  margin-bottom: 2rem;
}

.beer-search-header {
  h2 {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 3.5rem;
    justify-content: center;
    text-align: center;
  }
}

.empty-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto 3rem;
  max-width: 1100px;
}

.empty-results {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.find-breweries-form {
  margin-top: 1rem;
  width: 100%;
}

.form-input {
  padding-bottom: 1rem;
}

.search-beers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto 3rem;
  max-width: 1100px;
}

.search-beer-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.search-btn-submit {
  margin: 2rem 1rem 1rem 0;
}

// .paper {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   margin: 2rem 0 4rem;
// }

// .found-beers row {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   margin-top: 2rem;
// }
