.search-btn-submit {
  margin-top: 1rem;
}

.find-breweries-form {
  margin-top: 1rem;
  width: 100%;
}

.paper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 4rem;
}

.beer-card {
  margin-bottom: 2rem;
}

.found-beers row {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
